figure {
  display: grid;
  border-radius: 1rem;
  overflow: hidden;
  cursor: pointer;
  background-color: black;
}

.cards {
  gap: 3rem;
}

.image {
  width: 24rem;
  height: 26rem;
}
figure > * {
  grid-area: 1/1;
  transition: 0.4s;
}
figure figcaption {
  display: grid;
  align-items: end;
  font-family: "Oswald", sans-serif;
  font-size: 1rem;
  padding: 3 rem;
  color: black;
  padding-bottom: 4rem;
  background: var(--c, rgba(0, 0, 0, 0.7));
  clip-path: inset(0 var(--_i, 100%) 0 0);
  -webkit-mask: linear-gradient(#000000 0 0), linear-gradient(#e3e1e1 0 0);
  -webkit-mask-composite: xor;
  -webkit-mask-clip: text, padding-box;
  margin: -1px;
}
figure:hover figcaption {
  --_i: 0%;
}
figure:hover img {
  transform: scale(1.5);
}
@supports not (-webkit-mask-clip: text) {
  figure figcaption {
    -webkit-mask: none;
    color: yellow;
  }
}

.cards {
  margin: 0;
  min-height: 100vh;
  display: grid;
  grid-auto-flow: column;
  place-content: center;
}

@media all and (max-width: 850px) {
  .md-card {
    display: flex;
    flex-wrap: wrap;
  }
}

@media all and (max-width: 300px) {
  .md-card {
    width: 10rem;
    height: 10rem;
  }

  .figurecaption {
    display: none;
  }
}
