.coding-skill {
  padding: 0.5rem;
}

.coding-skill:hover {
  transform: scale(1.001);
  font-weight: 600;
}

.coding-skills {
  /* display: flex; */
  justify-content: center;
  margin-top: 30px;
}

.coding-question {
  display: flex;
}

.coding-icon {
  width: 40px;
  height: 40px;
  margin-top: 20px;
  cursor: pointer;
}

.common-coding-skills-list {
  display: flex;
}

.common-coding-skills-margin {
  margin-bottom: 50px;
}

.positions-space {
  margin-top: 50px;
}
