.title {
  font-family: "Oswald";
  font-size: 2rem;
  display: flex;
}

.greeting {
  font-size: 8rem;
  font-family: "Oswald";
}

.padding-left {
  padding-left: 5%;
}

@media screen and (max-width: 600px) {
  .md-greeting {
    font-size: 4rem;
  }

  .md-title {
    font-size: 1rem;
  }

  .padding-top-30vh {
    padding-top: 20%;
  }
}

/* @media all and (max-width: 1000px) {
  .h-screen {
    height: 100vh;
  }
} */

@media all and (min-width: 800px) {
  .padding-left {
    padding-left: 10%;
  }
}
