.contacts-introduction {
  font-family: Raleway;
  justify-content: left;
}

/* controller form */

.contacts-form {
  background-color: lightgray;
  font-weight: bold;
  padding: 20px;
  font-family: Raleway;
  padding-left: 1rem;
  display: grid;
}

input[type="text"],
input[type="email"],
input[type="numbers"] {
  width: 100%;
  height: 40px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  display: block;
  font-family: Raleway;
}

.contacts-labels {
  font-family: Raleway;
  float: left;
  display: block;
}

/* gender form */

.input[type="radio"] {
  padding: 12px 20px;
  margin: 8px 0;
  /* box-sizing: border-box; */
  display: inline-flex;
  font-family: Raleway;
}

.contacts-other-label {
  display: inline-flex;
}

/* select form */

.contacts-select {
  font-family: Raleway;
  padding: 12px 20px;
  margin: 8px 0;
  margin-bottom: 20px;
  width: 100%;
  height: 40px;
  border-radius: 0.8vh;
}

/* textarea form */

.contacts-textarea {
  width: 100%;
  height: 60px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 0.8vh;
  display: block;
  font-family: Raleway;
}

/* submission */

input[type="submit"],
button[type="submit"] {
  color: whitesmoke;
  background-color: rgb(0, 0, 0, 0.8);
  width: 100%;
  height: 40px;
  border-radius: 0.8vh;
  font-family: Raleway;
  border-color: none;
  font-size: 25px;
  background: (0, 0, 0, 0.6);
  font-weight: bold;
  margin-top: 20px;
}
input[type="submit"]:hover,
button:hover {
  background-color: rgb(0, 0, 0, 0.6);
}
