.button {
  height: 50px;
  border-radius: 0.8vh;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
}

/* black button */

.button-black {
  color: white;
  background-color: black;
  font-style: italic;
  width: 12rem;
  border: none;
}

.button-black:hover {
  color: black;
  background-color: white;
  border: none;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.button-black:focus {
  color: #0949b7;
  background-color: white;
  border: 2px lightgray;
  outline: none;
}

/* light button */

.button-light {
  background-color: white;
  border: 2px yellow;
  color: black;
  height: 50px;
  border-radius: 0%;
}

.button-light:hover {
  background-color: black;
  color: white;
  border: 2px solid yellow;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.button-light:focus {
  background-color: rgb(255, 255, 0, 0.7);
  color: black;
}
