@import url("https://fonts.googleapis.com/css2?family=M+PLUS+2:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=oswald:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Play:wght@700&family=Poppins:wght@200;300&family=Recursive&family=Roboto:ital,wght@0,500;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&family=Play:wght@700&family=Poppins:wght@200;300&family=Recursive&family=Roboto:ital,wght@0,500;1,300&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&family=Open+Sans&family=Play:wght@700&family=Poppins:wght@200;300&family=Recursive&family=Roboto:ital,wght@0,500;1,300&display=swap");

.html {
  font-family: "Oswald", sans-serif;
}

.text-title {
  font-size: 3rem;
  font-weight: 800;
}

.text-p {
  font-size: 1.1rem;
  font-family: "Open sans", sans-serif;
}

.line-break-3 {
  padding-bottom: 1rem;
}

.line-height-2 {
  line-height: 2rem;
}

.text-yellow {
  color: rgb(207, 183, 47);
}

.text-white {
  color: lightgray;
}

.text-center {
  text-align: center;
}
