@import url("https://fonts.googleapis.com/css2?family=M+PLUS+2:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=oswald:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Play:wght@700&family=Poppins:wght@200;300&family=Recursive&family=Roboto:ital,wght@0,500;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&family=Play:wght@700&family=Poppins:wght@200;300&family=Recursive&family=Roboto:ital,wght@0,500;1,300&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&family=Open+Sans&family=Play:wght@700&family=Poppins:wght@200;300&family=Recursive&family=Roboto:ital,wght@0,500;1,300&display=swap");

.html {
  font-family: Oswald, sans-serif;
}
h2 {
  font-size: 40px;
  /* font-family: oswald; */
  color: black;
  font-weight: 800;
}

h3 {
  color: black;
  font-size: 25px;
  font-weight: 600;
  /* font-family: oswald; */
}

p,
li,
.description-font {
  font-size: 20px;
  /* letter-spacing: 0.2rem; */
  color: black;
  font-family: open sans;
  font-weight: 550;
}

.strong {
  font-weight: 900;
  margin-bottom: 1rem;
  margin-top: 2rem;
}
