html {
  min-height: 100%;
  min-width: 100%;
}

body {
  min-height: 100%;
  min-width: 100%;
  margin: 0;
  padding: 0;
  background-color: transparent;
  margin-left: auto;
  margin-right: auto;
}

.margin {
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 200px;
  margin-bottom: 100px;
  text-align: justify;
}
