.volunteer-gallery {
  height: 50px;
  width: 1100px;
  padding-bottom: 10rem;
  padding-top: 2rem;
}

.volunteer-image {
  width: 160%;
  height: 150%;
}

.volunteer-gallery-column {
  float: left;
  width: 16.66%;
}

.volunteer-gallery-demo:hover {
  transition-duration: 0.8s;
  transform: scale(1.8);
}
