.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
}

.navbar-regular {
  display: flex;
  padding-top: 2rem;
}

.navbar-link-hamb {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  color: whitesmoke;
}

.navbar-hamburguer {
  color: whitesmoke;
  float: left;
  width: 30rem;
  position: relative;
}

/* menu hamburguer icon */
.navbar-menu-icon {
  width: 50px;
  height: 50px;
}

.navbar-link {
  text-decoration: none;
  font-family: oswald;
  font-size: 1.3rem;
  padding: 15px;
  color: whitesmoke;
  font-weight: 600;
  cursor: pointer;
}

.navbar-link:after,
.navbar-link:before {
  transition: all 0.2.s;
}
.navbar-link:hover {
  transition-duration: 0.2s;
  text-decoration: underline;
}

.navbar-logo {
  width: 150px;
  float: left;
  margin-left: 1rem;
  cursor: pointer;
  margin-top: 30px;
}

.navbar-logo:after,
.navbar-logo:before {
  transition: all 1.5s;
}
.navbar-logo:hover {
  transition-duration: 0.7s;
  transform: scale(0.7);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0, 01);
  opacity: 0.8;
}

@media screen and (max-width: 800px) {
  .menu-normal {
    display: none;
  }

  .navbar-logo {
    display: none;
  }
}

@media screen and (min-width: 800px) {
  .menu-hamburguer {
    display: none;
  }
}
