.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
}

.navbar-regular {
  display: flex;
  padding-top: 2rem;
}

.navbar-link {
  text-decoration: none;
  font-family: oswald;
  font-size: 1.3rem;
  color: whitesmoke;
  font-weight: 600;
  padding: 1rem;
}

.navbar-link:after,
.navbar-link:before {
  transition: all 0.2.s;
}
.navbar-link:hover {
  transition-duration: 0.2s;
  text-decoration: underline;
}

/* hamburguer */
.navbar-link-hamb {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  color: whitesmoke;
}

.navbar-menu-icon {
  height: 4rem;
  position: relative;
  padding: 0.8rem;
  opacity: 0.6;
}

@media screen and (max-width: 500px) {
  .menu-normal {
    display: none;
  }
}

@media screen and (min-width: 500px) {
  .menu-hamburguer {
    display: none;
  }
}
