.experience-gallery {
  display: flex;
  flex-wrap: wrap;
}

.experience-gallery-category {
  width: 400px;
  border-radius: 5px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  /* background-position: center; */
  height: 300px;
  /* justify-content: center; */
  /* align-items: center; */
  display: flex;
  flex-direction: column;
  list-style: none;
}

.experience-image {
  object-fit: cover;
  width: 100%;
  height: 10rem;
}

.experience-text {
  text-align: center;
  color: black;
  font-size: 18px;
  font-style: bold;
  padding: 1rem;
}

.experience-gallery-category:hover {
  transition-duration: 0.01s;
  background-color: lightgray;
}

.button-gallery {
  color: whitesmoke;
  width: 100%;
  height: 30px;
  border-radius: 0.8vh;
  font-family: Raleway;
  border-color: none;
  font-size: 18px;
  background: black;
  font-weight: bold;
  margin-bottom: 45px;
  margin-top: 15px;
  cursor: pointer;
}
